.header-image {
  width: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  &.elmundo {
    background-image: url("/assets/logos/logo_elmundo.png");
  }

  &.elpais {
    background-image: url("/assets/logos/logo_elpais.png");
  }
}

mat-card,
mat-card-content,
img,
textarea {
  display: block;
  margin: 2% auto 2% auto;
  margin-right: auto;
  width: 80%;
}

.mat-card-header-text,
input {
  width: 100% !important;
}
textarea {
  width: 100%;
  min-height: 100px;
}
