mat-drawer {
  min-width: 250px;
}
mat-drawer-content {
  margin-left: 250px;
  height: calc(100% - 64px);
}
.mat-drawer-container {
  height: 100% !important;
}

/*Crear media query para sideNavBar*/
