mat-drawer {
  width: 250px;
}
mat-drawer-content {
  margin-left: 250px;
  height: calc(100% - 64px);
}
.mat-drawer-container {
  height: 100% !important;
}

.home-icon {
  cursor: pointer;
}

/*Crear media query para sideNavBar*/
@media (max-width: 1000px) {
  mat-drawer {
    width: 0;
  }

  mat-drawer-content {
    margin-left: 0;
  }
}
