mat-card {
  cursor: pointer;
  margin: 2%;

  &:hover {
    box-shadow: 0 0 30px rgba(33, 33, 33, 1);
  }
}

.header-image {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  &.elmundo {
    background-image: url("/assets/logos/logo_elmundo.png");
  }

  &.elpais {
    background-image: url("/assets/logos/logo_elpais.png");
  }
}

mat-card-title,
mat-card-subtitle {
  margin-left: 2%;
}
